{% extends "directlinks/base.html" %}
{% block title %}MOST: Customer profile list {% endblock %}

{% block body %}
<div class="container">
        <div class="row" style="padding-top: 10em; color: maroon;">
        	<div class="col-md-3"></div>

        	<h3 style="font-weight: bold; color:black;">Profiles</h3>
            <div style="border-style: solid; border-radius:.9em; border-width: 2px; background-color: lightgray;">
         {% if prof_list %}
             <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date Created</th>
                    </tr>
                </thead>
             <tbody>
            {% for prof in prof_list %}
                <tr>
                    <td><a href="{% url 'scheduling:prof_detail' prof.slug %}">{{ prof.name }}</a></td>
                    <td>{{ prof.date_created }}</td>
                </tr>
            {% endfor %}
             </tbody>
             </table>
            {% else %}
            <h1>No profiles to display</h1>
            {% endif %}
            </div>
            <div class="btn-group">
                <form action="{% url 'scheduling:prof_create'  %}" method="post" style="display: inline;">
                 {% csrf_token %}
                    <button type="submit" class="btn btn-primary btn-med">Create a New Profile</button>
                </form>
                <form action="{% url 'scheduling:scheduling' %}" method ="get" style="display: inline">
                    <button type="submit" class="btn btn-primary btn-med">Return to Scheduling</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}




