{% extends 'directlinks/base.html' %}
{% block title %} MOST: Request Confirmation {% endblock %}

{% block body %}
    <div class="container" style="padding-top: 9em">
        <div class="alert alert-success">
            <p>Thank you for submitting a request for a tour! We will email you with details if your request is confirmed.</p>
        </div>
        <form action="{% url 'home' %}" method ="get" style="display: inline">
            <button type="submit" class="btn btn-primary btn-med">Return to home page.</button>
        </form>
    </div>
{% endblock %}